<html lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title></title>


    <style>
        nav {
            display: flex;
            flex-direction: row;
        }

        a {
            padding: 0px 10px;
        }
    </style>

</head>
<body>

<script src="dist/main.js"></script>
</body>

</html>